{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
    <h1>Mon panier</h1>

    {% if cart|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
            <tr>
                <th>
                    <img src="/uploads/{{ product.product.image }}" alt="{{ product.product.name }}" height="80px"><br>
                </th>
                <td>
                    {{ product.product.name }}<br>
                    <small>{{ (product.size.size) }}</small>
                </td>
                <td>
                    <form action="{{ path('decrease_to_add') }}" method="post">
                        <input type="hidden" name="id_produit" value="{{product.product.id}}" />
                        <input type="hidden" id="id_size" name="id_size" value="{{product.size.id}}" />
                        <input type="submit" value="-">
                    </form>
                    x {{ product.quantity }}
                    <form action="{{ path('add_to_cart') }}" method="post">
                        <input type="hidden" name="id_produit" value="{{product.product.id}}" />
                        <input type="hidden" id="id_size" name="id_size" value="{{product.size.id}}" />
                        <input type="submit" value="+">
                    </form>
                </td>
                <td>{{ (product.size.price / 100)|number_format(2, ',', '.') }}€</td>
                <td>{{ ((product.size.price * product.quantity ) / 100)|number_format(2, ',', '.') }}€</td>
                <td>
                    <form action="{{ path('delete_to_cart') }}" method="post">
                        <input type="hidden" name="id_produit" value="{{product.product.id}}" />
                        <input type="hidden" id="id_size" name="id_size" value="{{product.size.id}}" />
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
            </tr>
                {% set total = total + (product.size.price * product.quantity ) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5">
            <b>Nombre de produit :</b> {{ cart|length }}<br>
            <b>Total panier :</b> {{ (total/ 100)|number_format(2, ',', '.') }}€<br>
            <a href="{{ path('order') }}" class="btn btn-success btn-block">Valider le panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
