{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

<div class="account">
    <h1 class="account_h1">Bienvenue {{ app.user.firstname }} dans votre compte.</h1>

{% if is_granted('ROLE_ADMIN') %}

<a class="account_admin" href="/admin">Espace administrateur<a/>
{% endif %}
    <hr>
<div class="account_link">
    <a href="{{ path('account_password') }}">- Modifier le mot de passe<a/><br>
    <a href="{{ path('account_address') }}">- Gérer mes adresses</a><br>
    <a href="{{ path('account_order') }}">- Mes commandes</a><br>
</div>

<a class="account_logout" href="{{ path('app_logout') }}">Se déconnecter</a>

</div>

{% endblock %}
