{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block content %}

    <h1>Mes commandes <a class="return_account" href="{{ path('account') }}">Retour vers mon compte</a></h1>

    {% if orders|length == 0 %}

        <hr>
        <p>
            Vous n'avez pas encore passé de commander.
        </p>

    {% else %}
        <table class="table_order">
            <thead>
            <tr>
                <th class="creat_at">Passée le</th>
                <th class="reference">Référence</th>
                <th class="state">Statut</th>
                <th class="product">Produit(s)</th>
                <th class="total">Total</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
                <tr class="table_order_item">
                    <td class="table_order_item_date">{{ order.createdAt|date('d/m/Y') }}</td>
                    <td><span class="table_order_item_reference">{{ order.reference }}</span></td>
                    <td class="table_order_item_state">
                        {% if order.state == 1 %}
                            <span style="color: green">Paiement accepté</span>
                        {% elseif order.state == 2 %}
                            <span style="color: saddlebrown">Préparation en cours</span>
                        {% elseif order.state == 3%}
                            <span style="color: blue">Livraison en cours</span>
                        {% endif %}
                    </td>
                    <td class="table_order_item_detail">{{ order.orderDetails|length }}</td>
                    <td class="table_order_item_price">{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2,',','.')}} €</td>
                    <td class="table_order_item_btn_show"><a href="{{ path('account_order_show', { 'reference' : order.reference }) }}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}
