{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block content %}

	<h1 class="inscription_login_h1">Connectez-vous à votre compte</h1>
	<div class="block_login">
		<form method="post">
			{% if error %}
				<div class="error_message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% for message in app.flashes('notice') %}
				<div class="alert alert-info">{{ message }}</div>
			{% endfor %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que {{ app.user.username }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}

			<div class="block_login_input">
				<label for="inputEmail">Votre email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre email" required autofocus>

			</div>
			<div class="block_login_input">
				<label for="inputPassword">Votre mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<span class="link_password">
				<a href="{{ path('reset_password') }}">Mot de passe oublié ?</a>
			</span>
			<button type="submit">
				Se connecter
			</button>
			<hr>
			<p class="link_register">Pas de compte ?<a href="{{ path('register') }}">
					Créez en un</a>
			</p>
		</form>
	</div>
{% endblock %}
