{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block content %}

	<div class="category_page container">
		<h3>Produits de la catégorie {{ cat.name }}</h3>

		<div class="product_category">

			{% for product in product_cat %}
				<div class="product_category_card">
					<div class="product_category_card_item">
						<a href="{{ path('product', { 'slug' : product.slug }) }}">
							<div class="img_hover" style="position:relative;
    background-image: url('/uploads/{{ product.image }}');
    background-position: center;
    background-repeat: no-repeat;
    height: 425px;
    width: 300px;
    position: relative;
    background-size: cover;">
								<div class="product_category_card_item_hover" >
									<i class="fa-solid fa-eye"></i>
								</div>
							</div>
							<h5 class="product-name">{{ product.name }}</h5>
							<span class="product-price">À partir de <b>{{ (product.price / 100)|number_format(2, ',', '.') }}€</b></span>
						</a>
					</div>
				</div>
			{% endfor %}

		</div>

	</div>

	

{% endblock %}
