{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} !{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-5">
            <img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }}€</span>
            <hr>
            <p>{{ product.description }}</p>

            <select class="form-select" aria-label="Default select example" onchange="affectSizeHidden(this.value)">
                {% for size in size %}
                    <div class="col-md-3">
                        <option value="{{ size.id }}" class="option_value">{{ size.size }}</option>
                    </div>
                {% endfor %}
            </select>

            <form action="{{ path('add_to_cart') }}" method="post">
                <input type="hidden" name="id_produit" value="{{product.id}}" />
                <input type="hidden" id="id_size" name="id_size" value="1" />
                <input type="submit" value="Add">
            </form>

        </div>

    </div>
<hr>
    <h2>Nos meilleurs ventes</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
