{% extends 'base.html.twig' %}


{% block content %}

<h1 class="inscription_login_h1">Inscription</h1>


	<div class="block_register">
    {% if notification %}
        <div class="error_message">{{ notification }}</div>
    {% endif %}

    {{ form_start(form) }}
    <div class="form" >
  <div class="form_grid">
        <div class="form_grid_content">{{ form_row(form.firstname) }}</div>
        <div class="form_grid_content">{{ form_row(form.lastname) }}</div>
   </div>
        <div class="form_grid_content">{{ form_row(form.email) }}</div>
        <div class="form_grid form_grid_content">{{ form_row(form.password) }}</div>
    </div>
    {{ form_end(form) }}

			<hr>
			<p class="link_login">Déja inscrit ?<a href="{{ path('app_login') }}">
					Connectez-vous</a>
			</p>
</div>


{% endblock %}