<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.1.1"><title>
			{% block title %}My Digital Project
			{% endblock %}
		</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<!--<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">-->

		<!-- sass files -->
		<link href="{{ asset('assets/sass/style.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/sass/style.css.map') }}" rel="stylesheet">

		
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<!-- Bootstrap core CSS
														    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
														    <link href="{{ asset('assets/css/frenchbox.css') }}" rel="stylesheet">
														    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
														    -->

		{% block javascript %}{% endblock %}

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.btn-choice-display {
				display: none;
			}
			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
	</head>
	<body>
		<header class="fixed-top">
			<nav class="top-header">
				<div class="container top-header_content">
					<a href="{{ path('home') }}">
						<img class="top-header_img" alt="Logo AVAMAE" src="{{ asset('assets/img/logo.svg') }}">
					</a>
					<div class="top-header_content_search-bar"> {{ render(controller(
                'App\\Controller\\SearchController::searchBar'
            )) }}
					</div>
					<div class="top-header_content_action">
						<span>
							{% if app.user %}
								<span class="nav_cart">
									<a class="icon_nav_top" href="{{ path('cart') }}">
										<i class="fa-solid fa-cart-shopping"></i>
									</a>
								</span>
								<div class="account_menu_hover">
									<a class="icon_nav_top" href="{{ path('account') }}">
										<i class="fa-solid fa-circle-user"></i>
										<small>({{ app.user.firstname }})</small>
									</a>
									<div class="hover-user">
										<a href="{{ path('account_address') }}">Gérer mes adresses</a>
										<a href="{{ path('account_password') }}">Modifier mot de passe</a>
										<a href="{{ path('account_order') }}">Mes commandes</a>
										<a href="{{ path('app_logout') }}">Déconnexion</a>
									</div>
								</div>
							{% else %}
								<a class="nav_connexion" href="{{ path('app_login') }}">Connexion</a>
								<a class="nav_inscription" href="{{ path('register') }}">Inscription</a>
							{% endif %}
						</span>
					</div>
				</div>
			</nav>
			<nav class="navbar">
				<div class="container">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Qui sommes nous ?</a>
						</li>
						<li class="nav-item li-dropdown">
							<a class="nav-link dropdown" href="{{ path('products')}}">Nos produits</a>

							<ul class="dropdown-menu"> {{ render(controller(
                            'App\\Controller\\CategoryController::Category'
                        )) }}
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contact')}}">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main role="main">

{% if block('carousel') is defined %}
<!-- Slideshow container -->.
<div class="slideshow">
<div class="slideshow-container">

{% for key,carrousel in carrousel %}
	<div class="mySlides fade {% if key == 0 %}active{% endif %}" style="background: url('/slider/{{ carrousel.Image }}'); background-size: cover; background-position: center;
    height: inherit;">
		<div class="mySlides_content">
			<div class="carousel-caption">
				<h1 class="carousel-caption_title">{{ carrousel.title }}</h1>
				<p class="carousel-caption_content">{{ carrousel.content }}</p>
				<p class="carousel-caption_link"><a href="{{ carrousel.btnUrl }}" role="button">{{ carrousel.btnTitle }}</a></p>
			</div>
		</div>
	</div>
{% endfor %}

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div class="btn_nav_slide" style="text-align:center">
	{% for key,carrousel in carrousel %}
  <span class="dot" onclick="currentSlide({{ key }})"></span>
	{% endfor %}
</div>
</div>

{% endif %}

			<!-- 
																					{% if block('carousel') is defined %}
																					    <div id="myCarousel" class="carousel slide" data-ride="carousel">
																					        <ol class="carousel-indicators">
																					            {% for key,carrousel in carrousel %}
																					            <li data-target="#myCarousel" data-slide-to="{{ key }}"  {% if key == 0 %}class="active"{% endif %}></li>
																					            {% endfor %}
																					        </ol>
																					        <div class="carousel-inner">
																					            {% for key,carrousel in carrousel %}
																					            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/slider/{{ carrousel.Image }}'); background-size: cover; background-position: center;">
																					                <div class="container">
																					                    <div class="carousel-caption">
																					                        <h1>{{ carrousel.title }}</h1>
																					                        <p>{{ carrousel.content }}</p>
																					                        <p><a class="btn btn-lg btn-primary" href="{{ carrousel.btnUrl }}" role="button">{{ carrousel.btnTitle }}</a></p>
																					                    </div>
																					                </div>
																					            </div>
																					            {% endfor %}
																					        </div>
																					        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
																					            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
																					            <span class="sr-only">Previous</span>
																					        </a>
																					        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
																					            <span class="carousel-control-next-icon" aria-hidden="true"></span>
																					            <span class="sr-only">Next</span>
																					        </a>
																					    </div>
																					{% endif %}
																					
																					    <!-- Marketing messaging and featurettes
																					    ================================================== -->
			<!-- Wrap the rest of the page in another container to center all the content. -->

				<div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">{% block content %}{% endblock %} </div>
				<!-- /.container -->

				<!-- FOOTER -->
				<footer class="footer-custom">
					<div class="footer-custom_img">
						<a class="footer-cutom_img_a" href="{{path('home')}}">
							<img alt="Logo AVAMAE" src="{{ asset('assets/img/AVAMAElogo.png') }}">
						</a>
					</div>
					<ul class="footer-custom_nav">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>
							<a href="{{path('home')}}">A propos</a>
						</li> {{ render(controller(
                'App\\Controller\\CategoryController::Category'
            )) }}
					</ul>
					<ul class="footer-custom_rs">
						<li>
							<a class="" href="{{path('home')}}">
								<i class="fa-brands fa-instagram"></i>
							</a>
						</li>
					</ul>
					<ul class="footer-custom_mention">
						<li>
							<a class="" href="{{path('home')}}">CGV</a>
						</li>
						<li>
							<a class="" href="{{path('home')}}">CGU</a>
						</li>
					</ul>
				</footer>
			</main>
			<script src="{{ asset('assets/js/slider.js') }}"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script src="{{ asset('assets/js/test.js') }}"></script>
			<!--<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>-->
		</body>
		{% block script %}
			{% endblock %}

		</html>
	</html>
