{% extends 'base.html.twig' %}

{% block title %}Détails de facturation !
{% endblock %}

{% block content %}
	<h1>Détails de facturation</h1>

	<div class="detail">
		<div class="detail_delivery">
			{% set formHtml %} {{ form_start(form, {action:path('order_recap')}) }}
			<h2 class="detail_title title_addresse">{{ form_label(form.addresses) }}
				<a class="link_add_addresse" href="{{ path('account_add_address') }}">Gérer mes adresses <i class="fa-solid fa-location-dot"></i></a>
			</h2> {{ form_widget(form.addresses, {'attr': {'class': 'detail_delivery_card'}}) }}

			<h2 class="detail_title">{{ form_label(form.carriers) }}</h2> {{ form_widget(form.carriers, {'attr': {'class': 'detail_delivery_card'}}) }}

		</div>
		<div class="detail_order">
			<div>
				<h2 class="detail_title">Récapitulatif de la commande</h2>
			</div>
			<div class="detail_order_bg">
				<img class="detail_order_bg_bubble" src="/assets/img/border_img.png">
				{% for key,product in cart %}
					<div class="one_item_recap {% if key > 0 %}multiple_item_recap{% endif %}">
						<div class="img_txt">
							<img src="/uploads/{{ product.product.image }}" alt="{{ product.product.name }}" height="110px">
							<div class="content_order"> {{ product.product.name }}<br>
								<small>{{ product.size.size }}</small>
							</div>
						</div>
						<div class="content_order">x {{ product.quantity }}</div>
						<div class="content_order">{{ ((product.size.price * product.quantity ) / 100)|number_format(2, ',', '.') }}€</div>
					</div>
				{% endfor %} {{ form_widget(form.submit) }} {{ form_end(form) }}
				{% endset %} {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
			</div>
		</div>
	</div>
{% endblock %}
